{% extends 'main.html' %}

{% block content  %}
<div class="container">
</div>

<div class="container-fluid">
    
    <div class="d-flex justify-content-center m-2">
      <div class="d-grid gap-2 col-2 mx-auto">
        <a href="{% url 'create_vault' %}" class="btn btn-primary btn-lg rounded-pill border border-dark"><i class="uil uil-plus"></i>  Add New</a>
      </div>
    </div>
    
    <div class="container">
        <div class="row row-cols-3 m-auto">
            {% for password in vault %}
          <div class="col">
            <div class="card text-dark bg-light mb-3 border border-dark border-2" style="max-width: 22rem;">
                <div class="card-body">
                    
                    <form method='POST' action="">
                        {%csrf_token%}
                        <input type="text" name="password" value="{{ password.password }}" placeholder="Search Rooms..." hidden>

                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <div class="input-group mb-3">
                          <!--username-->
                          <span class="input-group-text" id="inputGroup-sizing-default"><i class="uil uil-user"></i></i></span>
                          <input type="text" class="form-control" name="username" value="{{ password.name }}" disabled>
                        </div>

                        
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <div class="input-group mb-3">
                          <!--password-->
                          <span class="input-group-text" id="inputGroup-sizing-default"><i class="uil uil-lock icon"></i></span>
                          <input type="password" class="form-control password" name="password" value=" {{ password.password }}" disabled>
                          <span class="input-group-text" id="inputGroup-sizing-default"><i class="uil uil-eye-slash showHidePw"></i></span>
                        </div>

                        <label for="exampleInputPassword1" class="form-label">URL</label>
                        <div class="input-group">
                          <textarea class="form-control" aria-label="With textarea" disabled>{{ password.url }}</textarea>
                        </div>

                        
                        <div class="row mt-2">
                            <input type="hidden" id="myVar" value="{{ password.id }}">
                            <div class="col-6 d-grid gap-2 p-1"><a href="{% url 'delete-room' password.id %}" type="button" class="btn btn-danger btn-sm rounded-pill border border-dark">Delete</a></div>
                            <div class="col-6 d-grid gap-2 p-1">
                              <a href="{% url 'update-room' password.id %}" type="button" class="btn btn-primary btn-sm rounded-pill border border-dark">Update</a>
                              <!-- <input type="button" class="btn btn-primary btn-sm submitbtn" data-bs-toggle="modal" data-bs-target="#exampleModal" value='Update'>--></div> 
                            <!-- <div class="col-4 d-grid gap-2 p-1"><input type="button" class="btn btn-info btn-sm  submitbtn"  value='Show'></div> -->
                        </div>
                    </form>
                    
                </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
   

    <!-- ====Modal==== -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLabel">Password Credential</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method='POST' action="">
                    {% csrf_token %}

                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <div class="input-group mb-3">
                      <!--username-->
                      <span class="input-group-text" id="inputGroup-sizing-default"><i class="uil uil-user"></i></i></span>
                      <input type="text" class="form-control" name="username" placeholder="Enter Your Username" required>
                    </div>
                    
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <div class="input-group mb-3">
                      <!--password-->
                      <span class="input-group-text" id="inputGroup-sizing-default"><i class="uil uil-lock icon"></i></span>
                      <input type="password" class="form-control" name="password" placeholder="Enter Your Password" required>
                      <span class="input-group-text" id="inputGroup-sizing-default"><i class="uil uil-eye-slash showHidePw"></i></span>
                    </div>

                    <label for="exampleInputPassword1" class="form-label">URL</label>
                    <div class="input-group mb-3">
                        <!--password confirmation-->
                      <span class="input-group-text" id="inputGroup-sizing-default"><i class="uil uil-brackets-curly"></i></span>
                      <input type="password" class="form-control" name="url" placeholder="Enter Your URL" required>
                    </div>
                    
                    <div class="d-grid gap-2">
                        <input class="btn btn-primary" type="submit" value="Update">
                    </div>
                </form>
            </div>

          </div>
        </div>
    </div>



</div>

{% endblock  %}